<!-- THIS HTML FILE IS THE CONTENT OF DIRECTIVE registerExternal -->
<table class="table table-bordered table-striped table-condensed" style="width:50%" ng-controller="registerExternalCTRLDirective">
    <tr>
        <td>Email:</td>
        <td>
            <input type="text" class="form-control" ng-model="userLoginEmail" />
        </td>
    </tr>
    <tr>
        <td>Languqge*:</td>
        <td>
            <input type="text" class="form-control" ng-model="Language" />
        </td>
    </tr>
    <tr>
        <td>User Type*:</td>
        <td>
            <input type="text" class="form-control" ng-model="UserType" />
        </td>
    </tr>
    <tr>
        <td>Farmer Name*:</td>
        <td>
            <input type="text" class="form-control" ng-model="FarmerName" />
        </td>
    </tr>
    <tr>
        <td>Mobile Number:</td>
        <td>
            <input type="text" class="form-control" ng-model="MobileNumber" />
        </td>
    </tr>
    <tr>
        <td>PAN Number:</td>
        <td>
            <input type="text" class="form-control" ng-model="PANNumber" />
        </td>
    </tr>
    <tr>
        <td>Adhar Number:</td>
        <td>
            <input type="text" class="form-control" ng-model="AdharNumber" />
        </td>
    </tr>
    <tr>
        <td>Date Of Birth*:</td>
        <td>
            <input type="text" class="form-control" ng-model="DOB" />
        </td>
    </tr>
    <tr>
        <td>Gender*:</td>
        <td>
            <input type="text" class="form-control" ng-model="Gender" />
        </td>
    </tr>
    <tr>
        <td>Country:</td>
        <td>
            <input type="text" class="form-control" ng-model="Country" />
        </td>
    </tr>
    <tr>
        <td>District:</td>
        <td>
            <input type="text" class="form-control" ng-model="District" />
        </td>
    </tr>
    <tr>
        <td>Tehsil:</td>
        <td>
            <input type="text" class="form-control" ng-model="Tehsil" />
        </td>
    </tr>
    <tr>
        <td>Village*:</td>
        <td>
            <input type="text" class="form-control" ng-model="Village" />
        </td>
    </tr>
    <tr>
        <td>Crop Area*:</td>
        <td>
            <input type="text" class="form-control" ng-model="CropArea" />
        </td>
    </tr>
    <tr>
        <td>Register External</td>
        <td>
            <input type="button" value="Sign Up" class="form-control btn btn-success" ng-click="RegisterExternalUser()" />
        </td>
    </tr>
</table>