<!-- THIS HTML FILE IS THE CONTENT OF DIRECTIVE Register -->
<table class="table table-bordered table-striped table-condensed" style="width:50%" ng-controller="RegisterCTRLDirective">
    <tr>
        <td>Email:</td>
        <td>
            <input type="text" class="form-control"
                  ng-model="userRegistrationEmail" />
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" class="form-control"
                   ng-model="userRegistrationPassword" />
        </td>
    </tr>
    <tr>
        <td>Confirm Password:</td>
        <td>
            <input type="password" class="form-control"
                   ng-model="userRegistrationConfirmPassword" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Register"
                   class="form-control btn btn-success"
                   ng-click="registerUser()" />
                   
        </td>
    </tr>    
</table>